.mainStage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('/kytra_port_bckgrnd.webp');
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.centerStage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: drop-shadow(0 0 4px #4c4c4c);
}

.headLiner{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('/backindigo.svg');
    background-size: cover;
}

.encore{
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgba(65, 68, 85, 0.91);
}

.setList{
    display: flex;
    position: absolute;
    left: 13%;
    top: -48px;
}

.animContainer{
    position: absolute;
    right: 12.5%;
    top: -520px;
}

.animContainer img{
    height: 620px;
    filter: drop-shadow(2px 2px 3px #373737);
}

.frontman{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 480px;
    left: 98px;
    top: 42px;
}

.theBand{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: "AleSans", sans-serif;
    font-weight: 400;
    align-items: center;
}

.leftSlider{
    position: absolute;
    height: 64px;
    width: 32px;
    top: calc(50% - 32px);
    left: -48px;
    filter: invert(1);
    transform: scale(1.25);
    transition: all 130ms ease-in-out;
}

.rightSlider{
    position: absolute;
    height: 64px;
    width: 32px;
    top: calc(50% - 32px);
    right: -40px;
    filter: invert(1);
    transform: scale(1.25) scaleX(-1);
    transition: all 130ms ease-in-out;
}

.leftSlider:hover{
    transform: scale(1.32);
    filter: invert(0.8) drop-shadow(1px 1px 2px #323232) sepia(10);
    cursor: pointer;
}

.rightSlider:hover{
    transform: scale(1.32) scaleX(-1);
    filter: invert(0.8) drop-shadow(1px 1px 2px #323232) sepia(10);
    cursor: pointer;
}

.waterMark{
    position: absolute;
    height: 128px;
    width: 148px;
    right: 8px;
    /*top: -132px;*/
    bottom: 6px;
    z-index: 400;
    opacity: .1;
    filter: grayscale(1);
}

.waterMark img{
    height: 128px;
    width: 148px;
}

