.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 2px;
    box-shadow: 2px 2px 7px 0px rgba(128,126,128,0.4);
}

.iconLabel{
    display: flex;
}

.sheetMusic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100px;
    margin-right: 18px;
}

.themeRed{
    background-color: #eb506f;
}

.themeYellow{
    background-color: #f7e900;
}

.themeGreen{
    background-color: #54bbab;
}

.themeBlue{
    background-color: #625faa;
}

.themeOrange{
    background-color: #ED776B;
}
