.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 71px;
    width: 71px;
    border-radius: 6px;
}

.icon img{
    height: 50px;
    width: 50px;
    filter: invert(1) drop-shadow(1px 1px 1px #737373);
}

.icon:hover{
    transform: scale(1.07);
    filter: drop-shadow(1px 1px 2px #323232);
    cursor: pointer;
}

.iconLabel{
    display: flex;
    margin-top: -10px;
}

.sheetMusic{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "AleSans", sans-serif;
    font-weight: 500;
    height: 120px;
    width: 100px;
    margin-right: 18px;
    filter: drop-shadow(1px 1px 1px #5a5a5a);
}

.themeRed{
    background-color: #eb506f;
}

.themeYellow{
    background-color: #f7e900;
}

.themeGreen{
    background-color: #54bbab;
}

.themePurple{
    background-color: #CF8AE9;
}
.themeOrange{
    background-color: #ED776B;
}

.textRed{
    color: #eb506f;
}

.textYellow{
    color: #f7e900;
}

.textGreen{
    color: #54bbab;
}

.textPurple{
    color: #CF8AE9;
}
.textOrange{
    color: #ED776B;
}
